.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exp {
  width: 200px;
  height: 17px;
  border: 1px solid black;
  text-align: left;
  padding: 5px;
  margin-bottom: 25px;
}

.result {
  color: gray;
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: bold;
}

.grid {
  max-width: 500px;
}
.grid__item {
  display: flex;
  justify-content: center;
}
button {
  width: 50px;
  height: 50px;
  border: 1.5px solid black;
  border-radius: 7px;
  cursor: pointer;
  font-weight: bold;
}
